@font-face {
    font-family: 'AestheticMonoline';
    src: url('/fonts/AestheticMonoline.ttf') format('truetype');
}
@font-face {
    font-family: 'KhmerOSFasthand';
    src: url('/fonts/KhmerOSFasthand.ttf') format('truetype');
}
